mds
test
test.http
go.sum
conf.yml
client
server
cmd/*/*.dll
cmd/*/*.a
cmd/filesvr/filesvr
cmd/tcpsvr/tsvr
cmd/tcpcli/tcli
.vscode/settings.json
cmd/tcpcli/clip
cmd/tcpsvr/svrp
cmd/zmqdemo/cli
cmd/zmqdemo/svr
cmd/zmqdemo/ecli
cmd/zmqdemo/build/*
cmd/zmqgo/cli
cmd/zmq.push.pull/pull
cmd/zmq.push.pull/push
.vscode/settings.json
cmd/zmqdemo/.vscode/settings.json
cmd/zmq.push.pull/pullr
cmd/zmq.push.pull/pushs
.vscode/settings.json
cmd/base64/demo
cmd/threadpool/demo
cmd/gzip/demo
cmd/lz4/demo
.gitignore
cmd/compress/gzip/demo
cmd/compress/lz4/demo
cmd/compress/demo
cmd/base64/bigint/demo
cmd/base64/bigint/build/*
cmd/compress-plug/build/*
cmd/compress-plug/.vscode/*
cmd/zmqhandle/build/
vendor/*
mds.exe
cmd/compress-plug/.idea/.name
cmd/compress-plug/.idea/compress-plug.iml
cmd/compress-plug/.idea/editor.xml
cmd/compress-plug/.idea/misc.xml
cmd/compress-plug/.idea/modules.xml
cmd/compress-plug/.idea/vcs.xml
cmd/compress-plug/cmake-build-debug/.ninja_deps
cmd/compress-plug/cmake-build-debug/.ninja_log
cmd/compress-plug/cmake-build-debug/build.ninja
cmd/compress-plug/cmake-build-debug/cmake_install.cmake
cmd/compress-plug/cmake-build-debug/CMakeCache.txt
cmd/compress-plug/cmake-build-debug/compressplug.exe
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/query/cache-v2
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/cache-v2-344d7de62d36042be8ee.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-55046086f1661d16c7dc.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4abd3fb670ab40ac0c06.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-24T09-14-20-0343.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/target-compressplug-Debug-36ad05f8c955ea7e0fe3.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-51529d0ae9bd14680d16.json
cmd/compress-plug/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmd/compress-plug/cmake-build-debug/CMakeFiles/clion-environment.txt
cmd/compress-plug/cmake-build-debug/CMakeFiles/cmake.check_cache
cmd/compress-plug/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmd/compress-plug/cmake-build-debug/CMakeFiles/rules.ninja
cmd/compress-plug/cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
cmd/compress-plug/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmd/compress-plug/cmake-build-debug/CMakeFiles/compressplug.dir/main.cpp.obj
cmd/compress-plug/cmake-build-debug/CMakeFiles/compressplug.dir/src/base.cpp.obj
cmd/compress-plug/cmake-build-debug/CMakeFiles/compressplug.dir/src/bigint.cpp.obj
cmd/compress-plug/cmake-build-debug/CMakeFiles/compressplug.dir/src/compress.cpp.obj
cmd/compress-plug/cmake-build-debug/Testing/Temporary/LastTest.log
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/cache-v2-09af34b29b0ed5bed2db.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-008ab72988aad793138a.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f217e960038b9b6d23f6.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-25T00-45-51-0440.json
cmd/compress-plug/cmake-build-debug/.cmake/api/v1/reply/target-compressplug-Debug-c356533578f1828be1f7.json
cmd/*/*.exe
cmd/task-project/cmake-build-debug/.ninja_deps
cmd/task-project/cmake-build-debug/.ninja_log
cmd/task-project/cmake-build-debug/build.ninja
cmd/task-project/cmake-build-debug/cmake_install.cmake
cmd/task-project/cmake-build-debug/CMakeCache.txt
cmd/task-project/cmake-build-debug/taskplug.exe
cmd/task-project/cmake-build-debug/.cmake/api/v1/query/cache-v2
cmd/task-project/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmd/task-project/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmd/task-project/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmd/task-project/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e6b0dd887b53428ac417.json
cmd/task-project/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-4a635a52ba12d8bb26f8.json
cmd/task-project/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-6f9e32957a8787ad5650.json
cmd/task-project/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmd/task-project/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-13T02-47-28-0385.json
cmd/task-project/cmake-build-debug/.cmake/api/v1/reply/target-taskplug-Debug-928b43717687c918ffcf.json
cmd/task-project/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-51529d0ae9bd14680d16.json
cmd/task-project/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmd/task-project/cmake-build-debug/CMakeFiles/clion-environment.txt
cmd/task-project/cmake-build-debug/CMakeFiles/cmake.check_cache
cmd/task-project/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmd/task-project/cmake-build-debug/CMakeFiles/rules.ninja
cmd/task-project/cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
cmd/task-project/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmd/task-project/cmake-build-debug/CMakeFiles/compressplug.dir/main.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/compressplug.dir/src/base.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/compressplug.dir/src/bigint.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/compressplug.dir/src/compress.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/compressplug.dir/src/task.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/task.dir/main.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/task.dir/src/base.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/task.dir/src/bigint.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/task.dir/src/compress.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/task.dir/src/task.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/taskplug.dir/main.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/taskplug.dir/src/base.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/taskplug.dir/src/bigint.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/taskplug.dir/src/compress.cpp.obj
cmd/task-project/cmake-build-debug/CMakeFiles/taskplug.dir/src/task.cpp.obj
cmd/task-project/cmake-build-debug/Testing/Temporary/LastTest.log
cmd/cgo-example-command/command.a
